*{
    font-family: "Plus Jakarta Sans", sans-serif;
}
.links:hover{
    opacity: 1 !important;
    color: white !important;
    transition-duration: 0.5s !important;
}

.heading{
    text-align: center;
    font-weight: 400;
}